/*
font-family: 'Noto Sans', sans-serif;

font-family: 'Roboto', sans-serif;

*/


/*
pasos para acomodar los estilos

1. posicionamientop
2. modelo de cajas
3. tipografia
4. visuales
5. otros

*/


:root {
    /*
        variables de entorno.
    */

    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

html {
    font-family: 62.5%;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    /*para que al hacer scroll no baje al golpe*/
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 324px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #8a8787 16.69%, #06131f 100%);
}

header img {
    width: 150px;
    height: 150px;
    margin-top: 60px;
    align-self: center;
    background-color: #2b28281c;
    border-radius: 50%;
}

.header_title_container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    text-align: center;
    align-self: center;
}

.header_title_container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--bitcoin-orange);
}

.header_title_container p {
    color: var(--grey);
    padding-bottom: 50px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}


/* .header_title_container .header_button {
	position: absolute;
 	top: 100%;
	left: 50%;
	transform: translate(-50%, -24px);
} */

.header_title_container .header_button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 45px;
    padding: 15px;
    width: auto;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    text-align: center;
}

.header_button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

.container_artistas{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 20px auto;
}

.main-exchange-container .backgroundImg {
    height: 250px;
    width: 250px;
    min-width: 250px;
    margin: 0 40px;
    margin-bottom: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    transition: 0.5s;
}


.main-exchange-container .backgroundImg:hover{
    filter:none;
    cursor: pointer;
    width: 300px;
    height: 280px;
    transition: 0.5s;
}
.container_artistas .backgroundImg:nth-child(2){
    background-image: url(../assets/img/newFotos/foto_no_exif\ \(14\).jpg);
}

.container_artistas .backgroundImg:nth-child(1){
    background-image: url(../assets/img/newFotos/foto_no_exif\ \(4\).jpg);
    padding-top: 70PX;
}

.container_artistas .backgroundImg:nth-child(3){
    background-image: url(../assets/img/newFotos/foto_no_exif\ \(10\).jpg);
}

.container_artistas .backgroundImg:nth-child(4){
    background-image: url(../assets/img/newFotos/granuja.jpg);
}

.container_artistas .backgroundImg:nth-child(5){
    background-image: url(../assets/img/newFotos/zof_ziro_por.jpg);
}

.container_artistas .backgroundImg:nth-child(6){
    background-image: url(../assets/img/newFotos/metricas.jpg);
}



.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: #646464;
}


.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: #d46a14;
}

.main-tables {
    display: flex;
    height: 400px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-tables-container {
    margin-bottom: 25px;
    scroll-snap-align: center;
    margin: 0px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.main-tables-container:nth-child(1){
    background-image: url("../assets/img/newFotos/foto_no_exif\ \(11\).jpg");
    opacity: 0.8;
}
.main-tables-container:nth-child(2){
    background-image: url("../assets/img/newFotos/foto_no_exif\ \(12\).jpg");
    opacity: 0.8;
}
.main-tables-container:nth-child(3){
    background-image: url("../assets/img/newFotos/foto_no_exif\ \(3\).jpg");
    opacity: 0.8;
}
.main-tables-container:nth-child(4){
    background-image: url("../assets/img/newFotos/fondo_granuja.jpg");
    opacity: 0.8;
}
.main-tables-container:nth-child(5){
    background-image: url("../assets/img/newFotos/fondo_zof_ziro.png");
    opacity: 0.8;
}
.main-tables-container:nth-child(6){
    background-image: url("../assets/img/newFotos/fondo_metricas.jpg");
    opacity: 0.8;
}
.main-tables-container:hover{
    opacity:1;
}




.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--just-white);
    background-color:transparent;
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.7rem;
    color: rgb(219, 115, 30);
    min-width: 10px;
}

.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date {
    width: auto;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: rgba(32, 32, 32, 0.849);
    border-radius: 8px;
    align-items: center;
}

.currency-table--date p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(255, 253, 253);
}


.main-product-detail {
    position: relative;
    /*lineas puestas por mi*/
    background-color: var(--warm-black);
    color: var(--just-white);
    margin: 0px auto;
    padding-bottom: 15px;

}

.product-detail--batata-logo {
    left: calc(50% - 50px);
    position: absolute;
    top: -50px;
    width: 100px;
    height: 100px;
    z-index: 1;
    background-image: url("../assets/img/newFotos/posterior2-removebg-preview.png");
    background-color: #727575c0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    position: relative;
    padding: 20px 10px;
    /* background-color: var(--warm-black); */
}

.product-detail--title h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card {
    width: 90%;
    min-height: 300px;
    min-width: 350px;
    max-width: 300px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0px 0px 2px #359ebe ;
    overflow: hidden;
    opacity: 0.3;
    filter: blur(1px);
}

.product-detail--card:hover{
    box-shadow: 2px 2px 3px #868686;
    filter: none;
    opacity: 1;
}



.product-detail--card .big {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("../assets/img/newFotos/sin_fondo/big.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .Alcolirykoz {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-image: url("../assets/img/newFotos/sin_fondo/foto_no_exif\ \(18\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .Noiseferatu {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-image: url("../assets/img/newFotos/sin_fondo/foto_no_exif\ \(17\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .Granuja {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-image: url("../assets/img/newFotos/sin_fondo/granuja.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .Zof-ziro {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-image: url("../assets/img/newFotos/sin_fondo/zof_ziro2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .Metricas {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-image: url("../assets/img/newFotos/sin_fondo/metricas_sin.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product--card-title {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: var(--bitcoin-orange);
}

.product--card-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    /* font-weight: bold; */
    line-height: 1.8rem;
    color: var(--just-whitek);
}

.bitcoin-img-container {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("../assets/img/newFotos/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15px;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}


.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight:bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p {
    padding-top: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider {
    display: flex;
    height: 360px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

}


.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 300px;
    height: 250px;
    margin: 50px 15px 0;
    padding: 0 15px;
    border-radius: 15px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.411);
    transition: 0.5s;
}

.plans-container--card:hover{
    background-color: #e4e2e2;
    margin: 15px;
    cursor: default;
    transition: 0.5s;
}

.recomended {
    position: absolute;
    width: 128px;
    height: 31px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    padding: 1px;
    background-color: var(--black);
    border-radius: 8px;
    color: var(--grey);
    top: -15px;
    transition: 0.5s;
}
.recomended:hover{
    width: 150px;
    height: 33px;
    box-shadow: 0px 3px 3px rgb(31, 31, 31);
    cursor: default;
    transition: 0.5s;
    color: var(--just-white);
}
.premiun{
    position: absolute;
    width: 128px;
    height: 31px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    padding: 1px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    top: -15px;
    transition: 0.5s;
}
.premiun:hover{
    font-size: 22px;
    width: 150px;
    height: 33px;
    box-shadow: 0px 3px 3px rgb(31, 31, 31);
    cursor: default;
    transition: 0.5s;
    color: var(--black);
    font-weight: bold;
}

.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    color: var(--black);
}


.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
}


.plan-card--price sup {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}

.plan-card--saving {
    font-size: 1.3rem;
    color: #414040;
    font-family:Arial, Helvetica, sans-serif;
}

.plan-card--ca {
    width: auto;
    height: 45px;
    margin-top: 20px;
    background-color: #e4e3e3;
    border: 2px solid var(--black);
    border-radius: 7px;
    font-family:Arial;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--ca:hover{
    background-color: var(--black);
    color: var(--just-white);
    transition: 0.2s;
    cursor: pointer;
}


.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}


footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--bitcoin-orange);
}


footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
    cursor: pointer;
}

.left li {
    margin: 0px 10px;
}
.img_footer{
    width: 100px;
    height: 100px;
    cursor: pointer;
 }