.main-tables{
    justify-content: center;
}


.main-product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plans-container--slider {
    justify-content: center;
}
